.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer {
  display: flex;
  justify-content: center;
}
.unit  {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0;
  font-weight: 300;
  font-size: 150px;
}
.label {
  font-size: 30px;
  color: #A5AEAD;
  margin: 0 15px 25px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
button {
  padding: 5px 30px;
}
